*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #fff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    z-index: 1;
    background-color:  #d32f2f;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 10px 0px;
}
.container{
    margin: 0px auto;
    max-width: 960px;
}

#inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100%;
}
#logo{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
ul#main-menu{
    display: flex;
    height: 100%;
}
ul#main-menu a{
    color: #fff;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
}

#banner{
    width: 1230px;
    margin: 100px auto 0 auto;
    background-color: #fff;
}
.img-main{
    border-radius: 10px;
    display:inline-block;
    
}
#banner > div > div{
    border-radius: 10px;
}
#banner  img:hover{
    transform: scale(1.3);
}
#banner > div {
    overflow: hidden;
}
#banner  img{
    display: block;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.img-main > img{
    width: 920px;
}
.img-saibar{
    float:right;
}
.img-saibar  img{
    display: block;
    width: 300px;
}
.img-saibar .martop{
    margin-top: 3.5px;
}
.img-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.img-bottom > img{
    width: 300px;
}




.content-section{
    background-color: #fff;
    width: 1000px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
.places-list {
    margin: 32px -8px 0;
    padding-bottom: 48px;
     
}
.places-item {
   float: left;
   padding: 0 8px;
   width: 20%;
}
.places-img {
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
}
.places-img:hover{
    opacity: 0.6;
}
.places-body {
    padding: 16px;
    background-color: #ebebeb;
    border-radius: 0px 0px 10px 10px;
}
.places-heading {
    color: #000;
    font-size: 15px;

}
.places-time {
    margin-top: 15px;
    color: #d32f2f;
}
.places-desc {
    color: #000;
    margin-top: 15px;
}
.by-tickets{
    color: #fff;
    background-color: #d32f2f;
    text-decoration: none;
    display: inline-block;
    padding: 11px 16px;
    margin-top: 15px;
    border-radius: 10px;

}
.by-tickets:hover{
    color: #000;
    background-color: #ccc;
}
.ti-angle-down{
    font-size: 10px;
    margin-top: 2px;
}
.h2 {
    color: #d32f2f;
}